<div class="jumbotron container">
  <h1>About</h1>

  <p>Experienced python and sql professional working in the fintech industry</p><br><br>

  <p>Outside of work I am using hiking, biking, climbing, and learning</p><br>
  <p>Please enjoy this photo of my expensive/rare binoculars from a recent backpacking trip.</p>
    <div>
      <%= link_to image_tag("million_dollar_binoculars.png"),'https://github.com/KevinJayData/'%>
    </div>
</div>
