<div class="jumbotron container">
  <h1>About</h1>

    <p>My journey into data started when I worked for the Reno Housing Authority (RHA) as an intern on the Section 8 Housing team.  They hired me to solve a very specific issue: If a client claims medical expenses they must bring all of their receipts and the caseworkers would count up the expenses and deduct them from the rent owed every month.  However, no one kept all of their records and when they did it would take our caseworkers much longer than the alloted 1 hour to count the expenses.  This was causing a massive nine month backlog of cases and severely reduced the office morale while wasting a ton of tax payer money.  The RHA gave me full access to all of the past client data on medical expenses as well as household size, demographic info, fraud, and income history to come up with a number we could simply deduct from everyone's rent to eliminate the current backlog and prevent this from happening again.</p>

    <p>This was hugely exciting except for the fact I was 19 years old and had no idea what I was doing.  I hadn't taken nearly enough stat courses and at the time I would not have been able to tell you the difference between a p-test or a t-test. If someone had asked me what the difference was, I probably would have answered, "Well I took a p-test before I started working here and I like tea; how many are we testing?".</p>

    <p>In a nutshell, the main project was to determine: <br>
      1) How much money on average do our clients deduct for medical expenses every year? <br>
      2) How much time (aka taxpayer money) do our caseworkers spend calculating all of this information day after day? <br>
      3) How often do we encounter fraud with the medical expense deductions? <br>
      4) Finally, how can we combine the above three numbers into a standard medical deduction that is justifiable to the taxpayers, equitable to our Section 8 clients, and revenue neutral to the Reno Housing Authority? <br></p>

    <p>With my limited skills, but supportive team we set out and ultimiately came up with a number that reflected about 8% of the median monthly income of our clients.  This means as a result of our analysis we were able to return 8% of our clients income back into their pockets every month.  8% of your income is not an insignificant amount of money!</p>

    <p>I still recall the day we implemented the new price deduction and began to eliminate the entire backlog.  Keep in mind, this is the government and by law we must keep a paper copy of any documentation we have. So when I mention this "backlog" I mean a literal pile of paperwork and files taking up so much of our break room we couldn't use it any longer in its original form.  The backlog was eliminated within two months and the feedback was universally positive.  Our caseworkers loved being back on the original work schedule, the clients loved getting 8% of their income back, and I was lucky enough to have a very successful first data analysis project.  At any point in time the RHA could have pulled the plug on this project, or HUD could have said "no", or plenty of other issues could have arisen that could sideline the Medical Deduction Program.  However, it went off with no problems and for that I will always be grateful to my boss and Section 8 Team at RHA for kick starting my interest in the data field.</p>

    <p>Because of this experience I decided against my previous plan of law school and applied to a Masters in Economics program instead. I was lucky enough to spend 2 more years in college learning econometrics and statistics at the graduate level.</p>

    <p>My first job out of college has been at Amount (previously called Avant) working on the data team.  It has been a blast to expand my Python, SQL, and Ruby on Rails skills while working with some amazingly talented people.  Additionally, I was able to explore Chicago on my bike pretty much every day after work (weather permitting) and spent most weekends racing alley cats and participating in Crital Mass events.</p>

    <p>Due to COVID-19 I have temporarily relocated to Reno, NV while still working for Amount.  The CV19 caseload and overall population density are both relatively low here in Northern Nevada.  If you happen to be in town let me know and lets go for a bike ride!</p><br>

</div>
