
<div class="jumbotron">
  <h1 class="display-4">Data/BI Analyst</h1>
  <p class="lead">Experienced in Python, SQL, and static Ruby on Rails websites.</p>
  <hr class="my-4">
  <p>Find my resume and cover letter below, or use the Navbar to learn more about me.</p>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" role="button">Resume Link</a>
</div>
