<div class="jumbotron container">
  <h1 class="display-4">Data/BI Analyst</h1>
  <p class="lead">Experienced in Python, SQL, and Ruby on Rails.</p>
  <hr class="my-4">
  <p>Find my resume and cover letter below, or use the Navbar to learn more about me.</p>
  <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1xJcOn-k-93lMgUkSBLM7SWR-CGihhn591Bj2PPSBWT8/edit?usp=sharing" role="button">Resume Link</a>
</div>
