
<div class="jumbotron container">
  <h1>Projects</h1><br>

  <div class="card-deck">
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="messageme.jpg" alt="Card image cap"/>
        <div class="card-body">
          <h3 class="card-title"><b>Message Me App</b></h3>
          <p class="card-text">App to learn about Semantic UI, redis/websockets for real time messages,
          and a little javascript.<br> Feel free to make a profile and check out the functionality.<br>
          BTW, the passwords are stored in plain text, so don't use any of your good passwords!</p>
          <a href="https://dry-scrubland-89444.herokuapp.com/" class="btn btn-primary">Visit App</a>
          <a href="https://github.com/KevinJayData/message_me" class="btn btn-primary">Github Code</a>
        </div>
    </div>

      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="portfolio_pic.png" alt="Card image cap"/>
        <div class="card-body">
          <h3 class="card-title"><b>Portfolio Website</b></h3>
          <p class="card-text">Rails app to showcase projects, communicate with recruiters, and express myself</p>
          <a href="http://www.kevinjaydata.com/" class="btn btn-primary">Visit App</a>
          <a href="https://github.com/KevinJayData/portfolio" class="btn btn-primary">Github Code</a>
        </div>
      </div>
  </div>

</div>
