<div class="jumbotron">
  <h1>Projects</h1>
  <p>I do not have any projects posted yet.<br>
      Please enjoy this photo of my binoculars from a recent backpacking trip.</p>
      <div>
        <%= link_to image_tag("million_dollar_binoculars.png"),'https://github.com/KevinJayData/'%>
      </div>
</div>
