<div class="jumbotron container">
  <h1>Social Media</h1>
  <p>Check out my Strava and Github below.<br>
     If you're in town let's go for a ride!</p>
    <div class="row">
      <span class="border">
        <div class="col col-md-auto">
          <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/24745709/latest-rides/b218d56354e5796a944ab52dfecbbfeb5553b9e5'></iframe>
        </div>
      </span>

      <span class="border">
        <div class="col col-md-auto">
          <%= link_to image_tag("GitHub-Mark.png", :size=>"300x300"),'https://github.com/KevinJayData/'%>
        </div>
      </span>

      <span class="border">
        <div class="col col-md-auto">
          <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="kevin-c-jay">
            <a class="LI-simple-link" href='https://www.linkedin.com/in/kevin-c-jay?trk=profile-badge'>Kevin Jay</a>
          </div>
        </div>
      </span>
    </div>
</div>
