<div class="jumbotron">
  <h1>Social Media</h1>
  <p>Check out my Strava and Github below.<br>
     If you're in town let's go for a ride!</p>
    <div class="row">
      <div class="col-md6">"
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/24745709/latest-rides/b218d56354e5796a944ab52dfecbbfeb5553b9e5'></iframe>
      </div>

      <div class="col-md6">
        <%= link_to image_tag("GitHub-Mark.png"),'https://github.com/KevinJayData/'%>
      </div>
    </div>
</div>
