<div class="jumbotron">
  <h1>Social Media</h1>

  <h3>I personally beleive most social media is harmful to society, due to this,
    I only use strava and github.  Profiles can be found below</h3>

    <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/24745709/latest-rides/b218d56354e5796a944ab52dfecbbfeb5553b9e5'></iframe>
</div>
