@import 'bootstrap/dist/css/bootstrap';

// color palate will be
// Davy's Grey: 50514F
// Ash Grey: CBD4C2
// Snow: FFFCFF
// Celedon Blue: 247BA0
// Khaki Web: C3B299

.navbar {
background-color: #247BA0 !important;
}

.navbar-brand {
font-size: 3rem;
}

.jumbotron {
  background-color: #FFFCFF;
}
